/* ===== Estilo global ===== */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Poppins", sans-serif;
  background-color: #170433;
  color: #d3c8e3;
  line-height: 1.6;
}

/* ===== Container principal ===== */
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10%;
}

/* ===== Cabeçalho ===== */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 1rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #170433;
  backdrop-filter: blur(6px);
  z-index: 10;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: #e3cef3;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ccd6f6;
}

.resume-btn {
  border: 1px solid #6b538e;
  color: #6b538e;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
}

.resume-btn:hover {
  background-color: #170433;
}

/* ===== Texto principal ===== */
.hero p.intro {
  color: #c881ff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.hero h1 {
  font-size: 3.5rem;
  margin: 0;
  color: #d3c8e3;
}

.hero h2 {
  font-size: 3.5rem;
  margin: 0.5rem 0;
  color: #8892b0;
}

.hero p.description {
  max-width: 540px;
  color: #d3c8e3;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.hero p.description a {
  color: #d3c8e3;
  text-decoration: none;
}

.hero p.description a:hover {
  text-decoration: underline;
}

/* ===== Botão principal ===== */
.hero button {
  background-color: transparent;
  color: #c881ff;
  border: 1px solid #c881ff;
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.hero button:hover {
  background-color: #1f0e39;
  transform: translateY(-2px);
}

/* == foto profile == */
.profile-container {
  display: flex;
  justify-content: flex-end; /* posiciona à direita */
  align-items: center;
  height: 100vh;
  padding-right: 8%;
}

/* contorno orgânico e destaque */
.profile-image-wrapper {
  width: 280px;
  height: 280px;
  border-radius: 58% 42% 64% 36% / 43% 51% 49% 57%; /* forma orgânica */
  overflow: hidden;
  box-shadow: 0 0 40px #6c548f;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.profile-image-wrapper:hover {
  transform: scale(1.03);
  box-shadow: 0 0 50px #d3c8e3;
}

/* imagem */
.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(95%) contrast(105%);
  transition: filter 0.4s ease;
}

.profile-image:hover {
  filter: brightness(100%) contrast(110%);
}
